<h2>忘記密碼</h2>

<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, label:'信箱', placeholder: 'user@gmail.com', required: true, autofocus: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "發送信件" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
