<nav class="navbar navbar-expand-lg " style="background-color: rgb(13,16,100);">
  <a class="navbar-brand" href="#" style="color: rgb(243,241,113);">NTUB 論壇</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <ul class="nav justify-content-end">
        <% if !current_user %>
          <li><%= link_to("註冊", new_user_registration_path, class:"nav-link", style:"color: rgb(243,241,113)" )%></li>
          <span class="nav-link" style="color: rgb(170,170,170)">／</span>
          <li><%= link_to("登入", new_user_session_path , class:"nav-link", style:"color: rgb(243,241,113)" ) %></li>
        <% else %>
        <div>
          <a  style="color: rgb(243,241,113);">
            Hi!, <%= current_user.name %>
          </a>
          <a class="ml-1 mr-1">|</a>
          <ul>
            <li><%= link_to("我的討論版", account_groups_path, style:"color: rgb(243,241,113);") %></li>
            <li><%= link_to("我的文章", account_posts_path, style:"color: rgb(243,241,113);") %></li>
            <li><%= link_to("帳號設定", edit_user_registration_path , style:"color: rgb(243,241,113);") %></li>
            <li><%= link_to("登出", destroy_user_session_path,style:"color: rgb(170,170,170);", method: "delete") %></li>
          </ul>
        </div>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
